/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");

body { 
    background-color: #C9C9C9;
}

#topbar{

    height: 200px;
    text-align: right;
/*    background-size: cover; */
    opacity: 0.5;
    background-image: url(pics/coffey.jpg); 
}

#container{
    max-width: 640px;
    margin: 0 auto;
    background-color: #45341c;  
    box-shadow: 10px 0 px 2px #ADADAD;
    border-bottom : 30px solid white;
    border-left: 20px  solid white;
    border-right: 20px  solid white;
    border-top: 10px  solid white;
}

#content{
    border: 4px solid #blue;
    clear: left;
    background-color: #EDE8CD;
    padding: 10p;
}

#maincontent{
    width: 380px;
    padding-left: 10px;
    padding-right: 10px;    
    float: left;

}
#maincontent img{
 
    float: left;
    margin-right: 5px;

}
#subcontent{
    border-left: 1px dashed #ADADAD; 
    padding-left: 10px;
    padding-right: 10px;       
    overflow: auto;
    

}
#menu{
    width: 640px;
    height:30px;
    list-style:none;
    background-color : #F3E789;
     font-size: 1.2em;
}

#menu ul{ 
    border-bottom: none;
    margin-left: 10px;
    padding: 0;
}

#menu li{ 
    max-width: 120px;
    border: 1px solid #FFF6B1;  
    list-style-type: none;
    margin: 1px;
    padding: 0;
    float: left;
}



#menu li a{ 
    display: block;
    background-color: #F3E789;
    color: #3D402A;
    padding: 10px;
}

#menu li a.active{ 
    background-color: red;
}

#menu li a:hover{ 
    background-color: #3D402A;
    color:#F3E789;

}

#menu a {
    
    display:none;
}

.right{
        float: right;
}

