/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");

body { 
    background-color: #C9C9C9;
}

#topbar{

    height: 200px;
/*    margin-top: 20px; */
    text-align: right;
    font-family: italic;
    
    color:  #EDE8CD;
/*    background-size: cover; */

    background-color: #45341c;
    background-position-y: 20px;
    background-repeat:no-repeat;
    background-image: url(pics/coffey.jpg); 
}

#container{

    max-width: 640px;
    margin: 0 auto;
    background-color: #45341c;
    border-bottom : 30px solid white;
    border-left: 20px  solid white;
    border-right: 20px  solid white;
    border-top: 10px  solid white;
}

#content{

    clear: left;
    background-color: #EDE8CD;
    padding: 10px;
    color: #765C44;
}

#maincontent{
    width: 380px;
    padding-left: 10px;
    padding-right: 10px;    
    float: left;
    font-size: 1.1em;

}
#maincontent img{
  
    float: left;
    margin-right: 5px;

}
#subcontent{
    border-left: 1px dashed #ADADAD; 
    padding-left: 10px;
    padding-right: 10px;       
    overflow: auto;
 

}

#subcontent li{
    list-style-type: none;

}
#subcontent h1{
            font-size: 1.4em;
}
#subcontent h2{
            font-size: 1.2em;
            font-weight: normal;        
}
#subcontent li a{
    margin-left: -40px;
    display: block;
    text-align: left;
    font-size: 0.8em;
    color: #765C44;

}

#menu{
     
    width: 640px;
    font-size: 1em;
}

#menu ul{ 

    border-bottom: none;
    margin-left: 10px;
    
    padding: 0;
}

#menu li{ 

    list-style-type: none;
    margin: 1px;

    padding: 0;
    float: left;

}



#menu li a{ 
    max-width: 140px;    
    display: block;
    background-color: #765C44;
    color: #EDE8CD;
    padding-left: 20px;
    padding-right: 20px;    
    padding-bottom: 10px;  
    padding-top: 10px;    
    position: bottom;    

}
#menu .active a{ 
    background-color: #EDE8CD; 
    color:#C4AB8E;
}
#menu li a:first-letter {
    text-transform: uppercase;
}



#menu li a:hover{ 
    background-color: #C4AB8E;
    color:#F3E789;

}

#menu a {
    
    display:none;
}

/*  Typo */ 

#container {
      font-family: Verdana, "Times New Roman", serif;
}

#bottomcontent {
    clear:both;
}